/*
 * Debug: borde rojo en todos los elementos
*/
* {
    border: 1px solid red;
}

body {
    padding-top: 0;
}

.card {
    display:block !important;
}

.navbar {
    position:relative !important;
}

.logo_menu {
    float:left;
}

