.boton-eliminar {
    font-size: 1rem; 
    color: red;
}

.boton-ok {
    font-size: 1rem; 
    color: green;
}


.boton-eliminar-sm {
    font-size: 0.8rem; 
    color: red;
}

.boton-archivo-sm {
    font-size: 1.2rem; 
    color: blue;
    cursor: pointer;
}

.boton-subir-sm {
    font-size: 0.8rem; 
    color: green;
}

.documento-g {
    font-size: 2rem;
}

.header-dependencia {
    padding: 15px;
    background-color: #C0C6D5 !important;
    text-transform: uppercase;
}

.header-nivel2 {
    background-color: #5398FD !important;
}

.header-nivel3 {
    background-color: #8BB9FD !important;
}

.tabla-datos {
    font-size: 1.3rem;
}

.boton {
    text-decoration: none !important;
}

.texto-ayuda {
    font-size: 0.9rem;
    background-color: #FFEDC8;
    padding: 10px;
}

.texto-menor {
    font-size: 0.9rem;
}
