.env
composer.lock

adjuntos_propuestas/*
oficios/*
doc/*

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

*~
*.swp
*.swo
